
.bottom-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.profile-picture {
  width: 145px;
  height: 145px;
  border-color: #737373;
  border-radius: 50%;
}
.border{
  box-shadow: none !important;
}

.star{
  color: #a2a4ab;
}

.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-color{
  color: #bababa;
}

