<ion-header>
    <ion-toolbar color="success">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginForm">
        <ion-grid>
            <ion-row color="justify-content-center">
                <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                    <div class="ion-text-center">
                        <h3>Login to your account!</h3>
                    </div>
                    <div class="ion-padding">
                        <ion-item>
                            <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input placeholder="Password" formControlName="password" [type]="passwordType"
                                       clearOnEdit="false"></ion-input>
                            <ion-icon item-end [name]="passwordIcon" class="passwordIcon"
                                      (click)='hideShowPassword()'></ion-icon>
                        </ion-item>
                    </div>
                    <div class="ion-padding">
                        <ion-button [disabled]="loginForm.invalid" (click)="login()" color="primary" type="submit"
                                    expand="block">Login
                        </ion-button>
                    </div>
                    <ion-text (click)="forgotPassword()" class="ion-text-center" color="danger">
                      <h6><u>Forgot Password?</u></h6>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <ion-grid style="padding-top: 50px">
        <ion-row color="justify-content-center">
            <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button (click)="registerUser()" color="success">
                    <ion-img style="height: 60%; width: 15%" class="register-icon"
                             src="/assets/person-add-sharp.svg"></ion-img>
                    Sign Up
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
